Python is a high-level, general-purpose and a very popular programming language. Python programming language (latest Python 3) is being used in web development, Machine Learning applications, along with all cutting edge technology in Software Industry. Python Programming Language is very well suited for Beginners, also for experienced programmers with other programming languages like C++ and Java

Python Class

In [2]:
print("Good Morning Feranmi!")

Good Morning Feranmi!

In [4]:
print("Freanmi")
print("Freanmi")
print("Freanmi")
print("Freanmi")

Freanmi
Freanmi
Freanmi
Freanmi

In [6]:
a = 100
type(a)

int

In [7]:
b = "Work Day"
type(b)

str

In [8]:
d = "100"
type(d)

str

In [9]:
c = True
type(c)

bool

In [10]:
e = 12.01
type(e)

float

In [11]:
f = 3j
type(f)

complex

In [20]:
g = ("python",120,"Java", 10,10.6)
h = (1,2)
print(type(h))
print(g)

<class 'tuple'>
('python', 120, 'Java', 10, 10.6)

In [2]:
today = 100,120
type(today)

tuple

In [5]:
today1 = (120,False)
type(today1)

tuple

In [24]:
i = (5j,6j,2j)
type(i)

tuple

In [26]:
j = tuple((1,2,3,4,5))
type(j)

tuple

In [27]:
k = ["Monday",12,True]
type(k)

list

In [28]:
l = list((100,200,7j))
type(l)

list

In [29]:
m = {120,"Grace",True}
type(m)

set

In [30]:
n = set((2j,False,"90"))
type(n)

set

In [35]:
o = {
    "name":"Grace",
    "age":12,
    "gender": "female",
    "is_teacher":False,
    "hubbies":["playing","singing","swimming"]
}
type(o["hubbies"])

list

In [36]:
type(o)

dict

In [37]:
type(k)

list

In [38]:
balance = 200
amount = 100

if balance > amount:
    print('success')
else:
    print('off')

success

In [1]:
state = {("lagos","Oyo","Enugu")}

type(state)

set

In [2]:
state = {"lagos","Oyo","Enugu"}

type(state)

set

In [3]:
type(state)

set

In [5]:
state = {list(("A","B","c")),"D","E"}
type(state)

SyntaxError: invalid syntax (<ipython-input-5-a1cb285739d9>, line 1)

In [6]:
o = {
    "name":"Grace",
    "age":12,
    "gender": "female",
    "is_teacher":False,
    "hubbies":list(("playing","singing","swimming"))
}
type(o["hubbies"])

list

Data Structure methods

In [7]:
# Tuple it takes ()
a = (1,2,3,4,5,"Go","Die","Tomorrow",True,12.087)

# checking the type
type(a)

tuple

In [10]:
len(a)

10

In [16]:
# indexed
a[9]

12.087

In [21]:
a[6:8]

('Die', 'Tomorrow')

In [22]:
a[:6]

(1, 2, 3, 4, 5, 'Go')

In [23]:
a[3:]

(4, 5, 'Go', 'Die', 'Tomorrow', True, 12.087)

In [24]:
a[:]

(1, 2, 3, 4, 5, 'Go', 'Die', 'Tomorrow', True, 12.087)

In [25]:
# ordered
b = ("A","B","C")
print(b)

('A', 'B', 'C')

In [28]:
# Allow duplicate
c = ("lagos","Oyo","Enugu")
c = c * 3
print("new tupe list is\n",c)

new tupe list is
 ('lagos', 'Oyo', 'Enugu', 'lagos', 'Oyo', 'Enugu', 'lagos', 'Oyo', 'Enugu')

In [29]:
c

('lagos', 'Oyo', 'Enugu', 'lagos', 'Oyo', 'Enugu', 'lagos', 'Oyo', 'Enugu')

In [31]:
d = ("lagos","Oyo","Enugu")
d.count("lagos")

1

In [32]:
d1 = ("lagos","Oyo","Enugu")
d1.index("lagos")

0

In [34]:
a = 6

if not a:
    print('no')
else:
    print('yes')

yes

Data Structure Methods

In [1]:
# tuple() methods


info = tuple(("Python","Java","C++","JavaScript","Ruby","Php","R-lang","Dart","Rust","C"))
print(info)

('Python', 'Java', 'C++', 'JavaScript', 'Ruby', 'Php', 'R-lang', 'Dart', 'Rust', 'C')

In [2]:
need = ("Python","Java","C++","JavaScript","Ruby","Php","R-lang","Dart","Rust","C")
print(need)

('Python', 'Java', 'C++', 'JavaScript', 'Ruby', 'Php', 'R-lang', 'Dart', 'Rust', 'C')

In [3]:
len(need)

10

In [4]:
need[0]

'Python'

In [5]:
need[5]

'Php'

In [7]:
need = ("Python","Java","C++","Python","Ruby","Php","R-lang","Dart","Rust","C")
print(need)

('Python', 'Java', 'C++', 'Python', 'Ruby', 'Php', 'R-lang', 'Dart', 'Rust', 'C')

In [11]:
need = ("Python","Java","C++","Python","Ruby","Php","R-lang","Dart","Rust","C")
var = list(need)
var[3] = "JavaScript"
need = tuple(var)
print(need)

('Python', 'Java', 'C++', 'JavaScript', 'Ruby', 'Php', 'R-lang', 'Dart', 'Rust', 'C')

In [14]:
# update the tuple var

var = ("Kotlin",)

need += var
need

('Python',
 'Java',
 'C++',
 'JavaScript',
 'Ruby',
 'Php',
 'R-lang',
 'Dart',
 'Rust',
 'C',
 'Kotlin')

In [20]:
for x in need:
    print(x,"is a programming Language")

Python is a programming Language
Java is a programming Language
C++ is a programming Language
JavaScript is a programming Language
Ruby is a programming Language
Php is a programming Language
R-lang is a programming Language
Dart is a programming Language
Rust is a programming Language
C is a programming Language
Kotlin is a programming Language

In [24]:
for x in range(len(need)):
    print(need[x],"is a programming Language with index",x)

Python is a programming Language with index 0
Java is a programming Language with index 1
C++ is a programming Language with index 2
JavaScript is a programming Language with index 3
Ruby is a programming Language with index 4
Php is a programming Language with index 5
R-lang is a programming Language with index 6
Dart is a programming Language with index 7
Rust is a programming Language with index 8
C is a programming Language with index 9
Kotlin is a programming Language with index 10

In [32]:
# List [] Methods


info = ["Lagos","Edo","Enugu","Imo","Anambra","Oyo","Borno"]

type(info)

list

In [34]:
info.append('Kwara')
info

['Lagos', 'Edo', 'Enugu', 'Imo', 'Anambra', 'Oyo', 'Borno', 'Kwara']

In [30]:
added = ["Abuja","Ekiti","Kaduna"]

info.append(added)
info

['Lagos',
 'Edo',
 'Enugu',
 'Imo',
 'Anambra',
 'Oyo',
 'Borno',
 'Kwara',
 ['Abuja', 'Ekiti', 'Kaduna']]

In [31]:
info.clear()
info

[]

In [35]:
info

['Lagos', 'Edo', 'Enugu', 'Imo', 'Anambra', 'Oyo', 'Borno', 'Kwara']

In [36]:
# remove element
info.remove("Borno")
info

['Lagos', 'Edo', 'Enugu', 'Imo', 'Anambra', 'Oyo', 'Kwara']

In [37]:
info.append("Borno")
info

['Lagos', 'Edo', 'Enugu', 'Imo', 'Anambra', 'Oyo', 'Kwara', 'Borno']

In [38]:
# reverse method

info.reverse()
info

['Borno', 'Kwara', 'Oyo', 'Anambra', 'Imo', 'Enugu', 'Edo', 'Lagos']

In [40]:
info[2] = "Ogun"
for z in info:
    print(z)

Borno
Kwara
Ogun
Anambra
Imo
Enugu
Edo
Lagos

In [41]:
type(info)

list

In [42]:
info = tuple(info)
type(info)

tuple

In [45]:
info.remove("Lagos")
info

['Borno', 'Kwara', 'Ogun', 'Anambra', 'Imo', 'Enugu', 'Edo']

In [44]:
info = list(info)
type(info)

list

In [46]:
info

['Borno', 'Kwara', 'Ogun', 'Anambra', 'Imo', 'Enugu', 'Edo']

In [48]:
info.insert(1,"Lagos")
info

['Borno', 'Lagos', 'Kwara', 'Ogun', 'Anambra', 'Imo', 'Enugu', 'Edo']

In [50]:
info.pop(0)
info

['Kwara', 'Ogun', 'Anambra', 'Imo', 'Enugu', 'Edo']

In [1]:
# write a program to give an output for 2023 election base on each user's tottal votes and declear
# the winner base on input results

In [14]:
# declear input for each party
pdp = int(input("Enter PDP total vote\n"))
apc = int(input("Enter APC total vote\n"))
lp = int(input("Enter LP total vote\n"))


# validation of the input according the the party

if pdp > apc and pdp > lp:
    pdp_cand = "Mr Abubakar Atiku"
    print(f'WOw! {pdp_cand} won the 2023 election with {pdp} compare to other with {apc} and {lp}')

elif apc > lp and pdp:
    apc_cand = "Mr Bola Hammed Tinubu"
    print(f'WOw! {apc_cand} won the 2023 election with {apc} compare to other with {pdp} and {lp}')

elif lp > apc and pdp:
    lp_cand = "Mr Peter Obi"
    print(f'WOw! {lp_cand} won the 2023 election with {lp} compare to other with {pdp} and {apc}')
else:
    print("Election 2023 is inconclusive")

Election 2023 is inconclusive

In [8]:
a = 5
print(a)

5

In [10]:
print(f'{a} is the value of the variable')

5 is the value of the variable

In [18]:
answer = 1000
guess = int(input("guess a number"))
 

if guess < answer:
    print("Oops you guess below the number try another number")
    guess2 = int(input("guess a number"))
    if guess2 == answer:
        print("You are a winner")
    else:
        print("You wrong in the second attempt")
elif guess > answer:
    print("Oops you guess above the number try another number")
    guess2 = int(input("guess a number"))
    if guess2 == answer:
        print("You are a winner")
    else:
        print("You wrong in the second attempt")
else:
    print("You are a winner")

You are a winner

In [20]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [21]:
for i in range(10,25):
    print(i)

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24

In [22]:
for i in range(10,100,10):
    print(i)

10
20
30
40
50
60
70
80
90

In [ ]:
# 0.00 - 0.99 = Probation
# 1.00 - 1.49 = pass
# 1.50 - 2.49 = third class
# 2.50 - 3.49 = second class lower
# 3.50 - 4.49 = second class upper
# 4.50 - 5.00 = first class

In [1]:
name = input("Please enter your name \n")
level = int(input("Please enter your level \n"))
cgpa = float(input("Enter your current CGPA \n"))

# print(cgpa)

if cgpa >= 4.50:
    print(f'Congratulation {name}, you have a first class with {cgpa}')
elif cgpa <= 4.49 and cgpa >= 3.50:
    print(f'Congratulation {name}, you have a second class upper with {cgpa}')
elif cgpa <= 3.49 and cgpa >= 2.50:
    print(f'Congratulation {name}, you have a second class lower with {cgpa}')
elif cgpa <= 2.49 and cgpa >= 1.50:
    print(f'Congratulation {name}, you have a third class with {cgpa}')
elif cgpa <= 1.49 and cgpa >= 1.00:
    print(f'Congratulation {name}, you have a pass class with {cgpa}')
elif cgpa <= 0.49 and cgpa >= 0.1:
    print(f'Congratulation {name}, you are on probabtion upper with {cgpa}')

else:
    print("Out of cgpa range")

Congratulation Victor, you have a first class with 4.5

In [ ]:
# if, elif and else

name = "Peter","John","James"
surname = "obi"

# end of database

ask = input("Enter main diciples of jesus\n")
ask = ask.lower()
if ask == "Peter":
    print(f"Yes, {ask} is among")
elif ask == "John":
    print(f"Yes {ask} is among")
elif ask == "James":
    print(f"Yes {ask} is among")

else: print(f"Opps! wrong name is given as {ask}")

In [3]:
name = input("Your name")
name = name.upper()

In [3]:
# if, elif and else

name = "Peter","John","James"
surname = "Simon"

# end of database

ask = input("Enter main diciples of jesus\n")
surname = input("Enter surname of disciples of jesus\n")
ask = ask.lower()
surname = surname.lower
if ask == "Peter":
    print(f"Yes, {ask} is among")
    if surname == "Simon":
        print(f"Yes {surname} is valid")
        print(f"{surname} {ask} was with jesus")
    else: 
        print ("Not Needed")

elif ask == "John":
    print(f"Yes {ask} is among")
    if surname == "Smart":
        print(f" Yes {surmame} is valid")
        print(f"{surname} {ask} was with jesus")
    else: print("not needed")

elif ask == "James":
    print(f"Yes {ask} is among")
    if surname == "obi":
        print(f"Yes {surname} is valid")
        print(f"{surname} {ask} was with jesus")
    else:
        print("Not needed")

In [2]:
# Assignment 


# write a python program validating at least 3 steps of complete conditional
#  statement relating with comparising (relational) statement
#  for your desired problem

In [5]:
# Database

best_food = "Beans"
hobby = "swimming"
best_friend = "Ghost"

# end of database


best_food = input("What is your best food?")
hobby = input("What is your hobby?")
best_friend = input("Who is your best friend?")
best_food = best_food.lower()
hobby = hobby.lower()
best_friend = best_friend.lower()

if best_food == "beans":
    print(f"Yes {best_food} is in the database.")
    if hobby == "swimming":
        print(f"Yes {hobby} is in the database.")
        if best_friend == "g.host":
            print(f"Yes {best_friend} is in the database.")
            print(f"{best_food}, {hobby} and {best_friend} are all in the database.")
        else:
            print("We can't find this record in the database.")

Yes beans is in the database.
Yes swimming is in the database.
Yes ghost is in the database.
beans, swimming and ghost are all in the database.

In [1]:
# Correction.

A1 =2
A2 =4
A3 =6

a1 = int(input("guess"))
a2 = int(input("guess"))
a3 = int(input("guess"))

if a1 < A1:
    if a2 < A2:
        if a3 < A3:
            print(f"{a1},{a2},{a3} are less value \n Thanks!")
        else:
            print(f"{a1},{a2} are less value but {a3} is wrong")
    else:
        print(f"{a1} is less value but {a2},{a3} are wrong ")
elif a1 == A1:
    if a2 == A2:
        if a3 == A3:
            print(f"{a1},{a2},{a3} are exact value \n Thanks! you are right")
        else:
            print(f"{a1},{a2} are exact value but {a3} is wrong")
    else:
        print(f"{a1} is exact value but {a2},{a3} zre wrong")

else:
    if a2 > A2:
        if a3 > A3:
            print(f"{a1},{a2},{a3} are greater values \n Thanks!")
        else:
            print(f"{a1},{a2} are greater values but {a3} is wrong")
    else:
        print(f"{a1} is greater value but {a2},{a3} is wrong")

33,33,33 are greater values
 Thanks!

#  PYTHON LOOPS

In [7]:
 # For loop is used for a sequential transversal (It is used for iterating
#  over an iterable like string,tuple,list, set and dictionary)

In [2]:
A10 = ["Tinubu","Atiku","P.Obi"]

for k in A10:
    print(k)

Tinubu
Atiku
P.Obi

In [4]:
A10 = ["Tinubu","Atiku","P.Obi"]

for k in A10:
    print("The presidential candidate of FRN for 2023 election is",k)

The presidential candidate of FRN for 2023 election is Tinubu
The presidential candidate of FRN for 2023 election is Atiku
The presidential candidate of FRN for 2023 election is P.Obi

In [5]:
A11 = "programmer"

for i in A11:
    print(i)

p
r
o
g
r
a
m
m
e
r

In [10]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [11]:
for i in range(15,30):
    print(i)

15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

In [14]:
for i in range(2,20,4):
    print(i)

2
6
10
14
18

In [15]:
value = int(input("what is your desired table to get \n"))
endpointval = int(input("set the endpoint for your value entered above \n"))

for i in range(1,endpointval):
    print(f"{value} x {i} =", value*i)

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
10 x 11 = 110
10 x 12 = 120
10 x 13 = 130
10 x 14 = 140
10 x 15 = 150
10 x 16 = 160
10 x 17 = 170
10 x 18 = 180
10 x 19 = 190

In [22]:
val = int(input("enter a value \n"))
sum = 0

for i in range(1,val):
    sum_ = sum + i
print(sum_)

49

In [23]:
for i in "python":
    if i == "o":
        print("Rain is about to fall")
        continue
    print(i)

p
y
t
h
Rain is about to fall
n

In [1]:
value = int(input("Get the sum of numbers here\n input a number here"))
sum = 0
val = int(input("first val"))

for i in range(val, value):
    sum = sum + i
print (sum)

0

In [5]:
program = ["python","java","c++","c#","rust","dart"]
for prg in program:
    print(prg)
    if prg == "c++": 
        break
print("Break is among")

python
java
c++
Break is among

In [6]:
program = ["python","java","c++","c#","rust","dart"]
for prg in program:
    print(prg)
    if prg == "c++": 
        continue
print("Break is among")

python
java
c++
c#
rust
dart
Break is among

In [14]:
for i in range (10):
    if i == 5:
        print("Yes it is break")
        break
    print(i)

0
1
2
3
4
Yes it is break

In [12]:
# classwork
# write a program of your choice using nexted loop, data structure and relational operator
# to output your desired problem.

In [22]:
fame = ["Davido","Wizkid","Burna boy"]
rich = ["Elon musk","Mark zuckerberg","Bolt"]
platform = "facebook","instagram","twitter"

for i in fame:
    for j in rich:
        for k in platform:
            if k == "instagram":
                print(f'{j} owns one of these: {platform}.')
                continue
            if j == "Bolt":
                print(f'{j} is a rich man and he is famous.')
                continue
            if i == "wizkid":
                print(f'{i} is a celebrity.')

Elon musk owns one of these: ('facebook', 'instagram', 'twitter').
Mark zuckerberg owns one of these: ('facebook', 'instagram', 'twitter').
Bolt is a rich man and he is famous.
Bolt owns one of these: ('facebook', 'instagram', 'twitter').
Bolt is a rich man and he is famous.
Elon musk owns one of these: ('facebook', 'instagram', 'twitter').
Mark zuckerberg owns one of these: ('facebook', 'instagram', 'twitter').
Bolt is a rich man and he is famous.
Bolt owns one of these: ('facebook', 'instagram', 'twitter').
Bolt is a rich man and he is famous.
Elon musk owns one of these: ('facebook', 'instagram', 'twitter').
Mark zuckerberg owns one of these: ('facebook', 'instagram', 'twitter').
Bolt is a rich man and he is famous.
Bolt owns one of these: ('facebook', 'instagram', 'twitter').
Bolt is a rich man and he is famous.

# While loop

In [ ]:
# python while loop is used to execute a block of statement repeatedly until a given condition is satisfied.

In [18]:
i = 1

while i < 10:
    i +=1
    print(i)

2
3
4
5
6
7
8
9
10

In [7]:
i = 0

while i < 5:
    i +=1
    print(f'{i} is known in the while loop')

1 is known in the while loop
2 is known in the while loop
3 is known in the while loop
4 is known in the while loop
5 is known in the while loop

In [6]:
a = [11,21,32,43,54]

while a:
    print(a.pop())

54
43
32
21
11

In [2]:
x = 0
while x in range(11):
    x = x+ 1
    print(f'Hi! while loop i need {x}')

Hi! while loop i need 1
Hi! while loop i need 2
Hi! while loop i need 3
Hi! while loop i need 4
Hi! while loop i need 5
Hi! while loop i need 6
Hi! while loop i need 7
Hi! while loop i need 8
Hi! while loop i need 9
Hi! while loop i need 10
Hi! while loop i need 11

In [2]:
i = 0
a = "Python While Loop"

while i < len(a):
    if a[i] == "i" or a[i] == "L":
        i += 1
        print("Current: Okay")
        continue
    print("Current:",a[i])
    i += 1

Current: P
Current: y
Current: t
Current: h
Current: o
Current: n
Current:
Current: W
Current: h
Current: Okay
Current: l
Current: e
Current:
Current: Okay
Current: o
Current: o
Current: p

In [6]:
# Break statement

#  continue statement

i = 1

while i < 10:
    print (i)
    if i == 5:
        break
    i += 1

1
2
3
4
5

In [1]:
# Break statement

#  continue statement

i = 1

while i < 10:
    print (i)
    if i == 5:
        i += 1
        continue
    i += 1

1
2
3
4
5
6
7
8
9

In [4]:
# else statement

i = 1

while i < 8:
    print(i)
    i += 1
else:
    print('i is not value in 6 anymore')

1
2
3
4
5
6
7
i is not value in 6 anymore

In [5]:
# else statement

i = 1

while i < 8:
    if i == 4:
        i += 1
        continue
    print(i)
    i += 1
else:
    print('i is not value in 6 anymore')

1
2
3
5
6
7
i is not value in 6 anymore

In [1]:
# else statement

i = 1

while i < 8:
    if i == 4:
        i += 1
        break
    print(i)
    i += 1
else:
    print('i is not value in 6 anymore')

1
2
3

# PYTHON FUNCTION

In [4]:
# A function in python is a block of code that can only run when it is called.

# twp types of function in python.

# 1. user define.
# 2. in built.

In [5]:
def greet():
    # statement of the function.
    a = 'Good Morning'
    print(a)

greet()

Good Morning

In [7]:
def _sum():
    a = 100+200+500
    print(a)
_sum()

800

In [11]:
def add(a):
    print(f'Wow! its good to know that {a} is a deveops')
add('Victor')

Wow! its good to know that Victor is a deveops

In [12]:
def add(a,b):
    print(f'Wow! its good to know that {a} is a {b}')
add('Victor', 'Lawyer')

Wow! its good to know that Victor is a Lawyer

In [16]:
name = input('Enter your name.').capitalize()
age = int(input('Enter your age'))
hobby = input('What is your hobby?').capitalize()
best_food = input('What is your best food?').capitalize()

def user():
    print(f'Hello, your name is {name}. \n you are {age} years old. \n Your hobby is {hobby}. \n Your best food is {best_food}.')
user()

Hello, your name is Victor.
 you are 22 years old.
 Your hobby is Swimming.
 Your best food is Rice.

In [22]:
name = input('Enter your name.').capitalize()
age = int(input('Enter your age'))
hobby = input('What is your hobby?').capitalize()
best_food = input('What is your best food?').capitalize()

def user(a):
    print(f'Hello, your name is {name} {a}. \n You are {age} years old. \n Your hobby is {hobby}. \n Your best food is {best_food}.')
user('Osuji')

Hello, your name is Emeka Osuji.
 You are 44 years old.
 Your hobby is Playing football.
 Your best food is Beans.

In [2]:
def info(date,month,year,age):
    print(f'Today is {date} of {month} in the year {year} and you are {age} years old')
info(input('date'),input('month'),input('year'),input('age'))

Today is 31st of november in the year 2022 and you are 44 years old

In [3]:
def sub(b,a=12):
    c = a + b
    print(f'The sum of {a} and {b} is {c}')
sub(33)

The sum of 12 and 33 is 45

In [4]:
sub(33,42)

The sum of 42 and 33 is 75

In [7]:
def checkOdd(num):
    if num % 2 == 1:
        print(f'{num} is odd value')
    else:
        print(f'{num} is even value')
checkOdd(int(input('Enter a number to check.')))

10 is even value

In [8]:
# Non keyword.

def greet(*a):
    for i in a:
        print(f'Good Morning {i}')
greet('Feranmi', 'David', 'Victor')

Good Morning Feranmi
Good Morning David
Good Morning Victor

In [1]:
def info1(**a):
    for i,k in a.items():
        print(F'your name is {i} and you are {k} years old')
info1(Feranmi='12', Ade=13 )

your name is Feranmi and you are 12 years old
your name is Ade and you are 13 years old

In [2]:
# Return statement in function

def divide(num1,numb2):
    result = 56* num1 / 23**numb2
    return result

divide(5,9)

1.5545600658445458e-10

In [6]:
def area_tri(base,height):
    formula = 1/2 * base * height
    print(f'base of {base}cm and height of {height}cm is equal to {formula} cm')
area_tri(int(input('Enter base')), int(input('Enter height')))

base of 50cm and height of 10cm is equal to 250.0 cm

In [9]:
def perimeter_triangle(s,a,b,c):
    formula = (s*(s-a)*(s-b)*(s-c)**1/2)/2
    print(f'The perimeter of tri. with {s},{a},{b},{c} is {formula}')
perimeter_triangle(12,2,3,4)

The perimeter of tri. with 12,2,3,4 is 2160.0

In [13]:
#  pass by reference

def staff(name):
    name[:3] = ['Gideon', 'Christy', 'Abel']

staff_list = ['David', 'Daniel', 'Ogo', 'Feranmi']
new_staff_2023 = ['Victor', 'Philip', 'Precious', 'Greg']
staff(new_staff_2023)

print(new_staff_2023)

['Gideon', 'Christy', 'Abel', 'Greg']

In [2]:
# Nested function

def A1():
    info = 'Today is good'
    def A2():
        print(info)
    return A2()
A1()

Today is good

In [5]:
# write a function called chop that takes a list and modifies it, removing the first 
# and last elements, and returns none.

def chop():
    a = [1,2,3,4,5]
    b = a.remove(1)
    c = a.remove(5)
    print(a.clear())
chop()

None

In [18]:
def middle():
    a = [6,7,8,9,10]
    print(a[0],a[-1])
middle()

6 10

# MODULES IN PYTHON

In [28]:
# modules in python is a file containing python definitions and
# statements, examples could be function, classes and variables.

In [1]:
import tkinter as tk

In [4]:
window = tk.Tk()