In [ ]:
### data type  ###
# string datatype
_a = "Today"
print(_a) #printing a varaiable

In [ ]:
type(_a)

In [ ]:
# protocols for setting a variable

# 1. must be an alphabet or a word
# 2. it can not start with special characters except underscore_
# 3. it does not take space inbetween 2 word excpect using _inbetween

In [ ]:
# integer

b = 12012
print(b)

In [ ]:
type(b)

In [ ]:
# boolean

c = True
print(c)

In [ ]:
type(c)

In [ ]:
# floating

d = 4.02
print(d)

In [ ]:
type(d)

In [ ]:
# complex

e = 5j

print(e)

In [ ]:
type(e)

In [ ]:
#example mathematic operetor 
# arithematic 

f = 20 
g = 30 
print(f+g)
print(f-g)
print(f*g)
print(type(f/g))

In [ ]:
# modulus //

f//g

In [1]:
60//5

12

In [ ]:
#multiplication
5*12

In [3]:
61//5 #modulus

12

In [4]:
# remainder %

61%5

1

In [ ]:
# Relational Operators
name

In [ ]:
a = 10 
b = 20
sum = a + b 
print(sum)

In [ ]:
print("Student ID Card")
name = "divine\n"
school = "ebsu\n"
occupation = "student\n"
state = "imo\n"
nationalism = "nigeria\n"
info = name+school+occupation+state+nationalism 
print(info)

In [ ]:
name = ("chioma eze\n")
location = ("abia state\n")
total = name+location 
print(total)

In [ ]:
age = ("18\n")
state = ("anambra\n")
occupation = ("student\n")
all = age+state+occupation 
print(all)

In [ ]:
print("hello world")

In [ ]:
x = 10 
y = 20 
print(x+y)

In [ ]:
print("hello world")

In [ ]:
name = input("what is your name") 
print(name)

In [ ]:
name = input("what is your name?\n") 
print(name)

In [ ]:
x = 2 
x = x+2 
print(x)

In [ ]:
# what is the output of the following program?

language = "python"
print("1.", language == "python")

age = 18
print("2.", age >= 18)
print("3.", age > 18)
print("4.", age >= 18 and language == "java")

In [ ]:
val = int(input("enter a value"))
sum = 0

for i in range(1,val):
    sum = sum + i
    print(sum)

In [ ]:
#for loop
#can you modify the multiplication table program so that we get a multiplication table from 10 to 1 instead of 1 to 10?

number = int(input("enter value for your table"))
value_2 = int(input("set the endpoint for the value above"))

for k in reversed(range(number,value_2)):
    print(f' {number} x {k} =', number*k)

In [ ]:
num = int(input("enter num"))
last = int(input("enter last num"))
i = 1

while i < last:
    pro = i*num
    print(f"{num} x {i} = {pro}")
    i = i + 1

In [ ]:
start = int(input("enter start num"))
end = int(input("enter end point num"))
for i in range(0, end):
    print(f'{i} x {start}=', i*start)

In [ ]:
#under "list"
b = [1,10,20,30,40,50,200]
b.insert(3,300)
print(b)

In [ ]:
b = [10, 60, 70, 80, 50, 20, 30]
b[3]

In [ ]:
a  = ("today","tommorrow","next-day","today")
# accessing the item of a tuple

a[0] #slicing

In [ ]:
b = [1, 10, 20, 300, 30, 40, 50, 200]
newlist = [400, 500, 600, 700, 800]
b.extend(newlist)
print(b)

In [ ]:
b = [20, 90, 80, 50, 30, 40, 70, 10, 300, 400, 500]
b.pop(-3)
print(b)

pass statement
is a null statement that does nothing.
it used to create loops, if ,else statement, function and classess withan empty body

In [14]:
number = 5.5
if number > 0.0:
    pass

INTRODUCTION TO PYTHON FUNCTIONS

In [ ]:
def greet():
    print("Hello")
    print("how do you do")
    
greet()

In [ ]:
def greet():
    print("Hello")
    print("how do you do")
#function can be call multiple times
    
greet()
greet()
greet()

PYTHON ARGUMENTS

In [ ]:
def greet(name):
    print(f"Hello, {name}")
    print("how do you do")
    
greet("Jack")

MULTIPLE ARGUMENTS IN PYHTON FUNCTION

In [ ]:
def add_numbers(n1, n2):
    result = n1 + n2
    print(f"the sum is {result}")
    #return result

number1 = 5.4
number2 = 6.7
add_numbers(number1, number2)

return statement

In [ ]:
def add_numbers(n1, n2):
    result = n1 + n2
    return result

number1 = 5.4
number2 = 6.7
result = add_numbers(number1, number2)
print(f"the sum is, {result}")

In [ ]:
marks = [55, 64, 75, 80, 34]
length = len(marks)
print(f"length is {length}")

marks_sum = sum(marks)
print(f"the total marks you got is, {marks_sum}")

In [ ]:
#WORK
#Suppose you just attended a university examination. the marks you obtained in various subjects are stored in alist like this:
#marks = [55, 64, 75, 80, 65]
#you want to find the average marks you obtained in the exam. and based on the average marks you want to find your grade. the gradeing rule is like this:
#1 you will get Grade A if the average marks is equal to or above 80
#2. you will get Grade B if the average marks is equal to or above 60 and less than 80.
#3. you will get Grade C if the average marks is equal to or above 50 and less than 60.
#4. and if the average marks is less than 50, you will get Grade F

def find_average_marks(marks):
    sum_of_marks = sum(marks)
    total_subjects = len(marks)
    avarage_marks = sum_of_marks / total_subjects
    return avarage_marks

#calculate the grade and return it
def compute_grade(average_marks):
    if average_marks >= 80:
        grade = "A"
    elif average_marks >= 60:
        grade = "B"
    elif average_marks >= 50:
        grade = "C"
    else:
        grade = "F"
    return grade
    
marks = [55, 64, 75, 80, 65]
average_marks = find_average_marks(marks)
print(f"your average marks is, {average_marks}")

grade = compute_grade(average_marks)
print(f"your grade is: {grade}")

Positional, Keyword and Default Arguments

In [ ]:
def add_numbers(n1 = 100, n2 = 1000): 
    result = n1 + n2
    return result

number1 = 5.9
number2 = 6.7
result = add_numbers(5.4)
print(f"the sum is, {result}")
#what happened here is 100 as default value n1, 1000 as defaulte value in n2. when we ran the program the output was 1005.4. becos we have prove 5.4 as a
# argument and the value will pass to n1 and we havent provide the second argument so the default value n2 which was 1000 will be used.

In [ ]:
def add_numbers(n1 = 100, n2 = 1000): 
    result = n1 + n2
    return result

number1 = 5.4
number2 = 6.7
result = add_numbers()
print(f"the sum is, {result}")
#let moddify it and in this case n1 and n2 will be used since there's no argument

KEYWORD ARGUMENT

In [1]:
#in python we cannot only pass argument in function base on position, we can also pass them by name 
def greet(name, message):
    print(f"Hello, {name}")
    print(f"{message}")
greet("Jack", "What's going on") #we are passin jack to the name parameter and what about the message parameter
greet(message = "Howdy?", name = "Jill")

Hello, Jack
What's going on
Hello, Jill
Howdy?

PYTHON LOCAL AND GLOBAL VARIABLES

In [ ]:
#Any variable that is created inside a function is LOCAL TO IT. Meaning that the result variable is to add function
def add_numbers(n1, n2):
    result = n1 + n2
    print(result)
add_numbers(2, 5)
#if the print the result after the function it will gives you error an is telling us that result variable are not defined

ANY VARIABLES CREATED OUTSIDE THE FUNCTION ARE CALLED GLOBAL VARIABLES

In [ ]:
message = "How you doing" # Here message is a global variables because it is created outside the function;

def greet():
    print(message)
greet()

In [ ]:
message = "How you doing" # Here message is a global variables because it is created outside the function;

def greet():
    message = "How are you"
    print(f"Message inside function: {message}")
greet()
print(f"Message inside function: {message}")

LIST AND TUPLES

LIST
LIST IS A SEQUENCE OF items IN ORDER AND is most commonly used in  python

In [ ]:
# A list of integers:
numbers = [1, 5, 6, -4]
print(numbers)

# A mixed list
random_list = [2.5, 'hello world', -5, 2.5]
print(random_list)

#Empty list
list1 = []
print(list1)

In [ ]:
# A list of integers:
numbers = [1, 5, 6, -4]
print(len(numbers))

#empty list
list1 =[]
print(len(list1))

How to access list element

In [ ]:
languages = ["Python", "JavaScript", "C++", "Kotlin"]
print(languages)

# we can access individual using index and it start from the 0
print(languages [2])

#we can also acces  individual index using negetive index
print(languages [-1])

slicing a list

In [ ]:
languages = ["Python", "JavaScript", "C++", "Kotlin"]
print(languages [0:3]) #slicing the list

print(languages [1:3])
print(languages [:3]) #it means that is equivalent to [0:3]
print(languages [1:])

change items of the list

In [ ]:
languages = ["Python", "JavaScript", "C++", "Kotlin"]
languages[1] = "Ruby"
print(languages)
languages[1:3] = "Ruby", "Ben"
print(languages)

Iterating through a list

In [ ]:
#Iterating through a list
languages = ["Python", "JavaScript", "C++", "Kotlin"]
print("Python" in languages)
print("rust" in languages)

#LIST METHODS
# When we want to add an item to the list we will use append method.
languages.append("rust")
print(languages)

#using INSERT METHOD
languages.insert(1, "rust")
print(languages)

#REMOVE METHOD
languages.remove("JavaScript")
print(languages)

#TO COPY THE LIST
languages1 = languages.copy() 
print(languages1)

TUPLES

In [ ]:
numbers = (21, -5, 6, 9)
print(numbers)

In [ ]:
numbers = (21, -5, 6, 9)
for number in numbers:
    print(number)
#NOTE = LIST can be changed while TUPLE cannot be changed

HOW TO WORK WITH "TEXT"(PYTHON STRING)

In [ ]:
text = """Hello there
How are you doing"""
print(text)

In [ ]:
#continuation
text = "He said, \"what\'s there?\""
print(text)

Access string Character

In [ ]:
text ="python"
print(text[3]) #using index
print(text[-2]) #using negative index

PYTHON STRING OPERATIONS

In [ ]:
text1 = "Python"
text2 = "Programming"
result = text1 + " " + text2
print(result)

text = "Python" #iterating the string using 4 loop
for character in text:
    print(character)

new_text = text * 3
print(new_text)

USING LOWER METHOD AND UPPER METHOD

In [ ]:
text = "I like Python 3"
result = text.lower()#using lower method
print(result)

result = text.upper() #using upper method
print(result)

result = text.find("Python")
print(result)

result = text.replace("Python 3", "Java")# to replace python 3
print(result)

PYTHON DICTIONARIES STORE KEY/VALUE PAIRS

In [ ]:
             #key   #value   #key  #value
person1 = {"name": "linus", "age": 21}

In [ ]:
person1 = {
"name": "Linus",
 "age": 21
 }
print(person1["age"])
print(person1.pop("age"))

print(person1.get("hobbies")) #to print none

person1["name"] = "dennis" #change value
print(person1)

person1["hobbies"] = ["dancing", "fishing"] #add key and value
print(person1)

person1.pop("name")
print(person1)

In [ ]:
figures = {4: "one",5: "two", 6: "three", 7: "four" 
 }
print("1", figures)
print("2", figures.items())
print("3", figures.keys())
print("4", figures.values())
print("5", figures.copy())
print("6", figures.get(5))#get is expected at least one argument
print("7", figures.clear())
print("9", figures.update())
print("10", figures.setdefault("one"))

In [ ]:
eng = {"one": "ones",
 "two": "twos",
  "three": "threes"
}
len(eng)

In [ ]:
#how in operator work differently for dictionary
# the in operator tells whether something appears as a key in the dictionary.
figures = {4: "one",5: "two", 6: "three", 7: "four"}
4 in figures

SET

In [ ]:
animals = {"dog", "cat", "tiger", "elephant"}
print(animals)

In [ ]:
#to convert list to a set
animals = set(["dog", "cat", "tiger", "elephant"])
print(animals)

In [ ]:
#WHAT THE OUTPUT OF THE FOLLOWING PROGRAM?
synonyms = {
    "mountain": "peak",
     "forest": "jungle"}
     
print("1.",synonyms["mountain"])

synonyms["terrain"] = "land"
print("2.", synonyms)

print(synonyms.pop("forest"))

print("3.", synonyms)

In [ ]:
synonyms = {
    "mountain": "peak",
     "forest": "jungle",
     "terrain": "land",
     }
synonyms.pop("forest")
print(synonyms)

In [ ]:
synonyms = {
    "mountain": "peak",
     "forest": "jungle"}
print(synonyms.pop("forest"))

In [ ]:
animals = {"dog", "cat", "tiger", "elephant", "dog"} # a set
animals.add("monkey") #to add elements to the set
print(animals)

In [ ]:
animals = {"dog", "cat", "tiger", "elephant", "dog"}
wild_animals = ["tiger", "leopard", "elephant"]
animals.update(wild_animals)# to update it
print(animals)
animals.update(wild_animals, {"dolpins"})# dolpins will be added to the set
print(animals)

In [ ]:
#how to remove item from the set
#WE HAVE DISCARD METHED AND REMOVE METHOD
animals = {"dog", "cat", "tiger", "elephant"}
animals.discard("cat")
print(animals)
animals = {"dog", "cat", "elephant", "spider"}
animals.remove("elephant")
print(animals)
#NOTE: REMOVE AND DISCARD ACT THE WORK BUT IMPORTANT DIFFERENT B/W THEM IS WHEN U WANT ITEM DAT IS NOT IN THE LIST, DISCARD RETURNS NONE WILL REMOVE RETURN ERROR

In [ ]:
domestic_animals = {"dog", "cat", "elephant"}
wild_animals = {"lion", "tiger", "elephant"}
animals = domestic_animals.union(wild_animals) #to join the two set
print(animals)
animals = domestic_animals|wild_animals#we can also use | method
print(animals)

In [ ]:
#to find the intersection of set
domestic_animals = {"dog", "cat", "elephant"}
wild_animals = {"lion", "tiger", "elephant"}
animals = domestic_animals.intersection(wild_animals)
print(animals)
#we can still use & method because it act as intersection
animals = domestic_animals & wild_animals
print(animals)

USING RANGE IN PYTHON

In [ ]:
result = range(1,11)
print(list(result))

#another example RANGE IN FOR LOOP
for value in range(1,6):
    print(f"{value} for iteration")

In [ ]:
result = list(range(1, 11, 3))
print(result)

In [ ]:
# class work. can you create a list like this using the range function[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]?
result = list(range(3, 31, 3))
print(result)

PYTHON CLASSES AND OBJECTS

In [ ]:
# When we are working with objects, variables are called attributes and functions are called methods.
class Student:
    pass
student1 = Student() #student1 is object to student class.
student1.name = "harry"
student1.marks = 85
print(student1.name)
print(student1.marks)
# this is not the proper way to add attribute to object.

In [ ]:
# how to defined method inside the class then we will look to proper way to add attribute.

class Student:
    def check_pass_fail(self): #we have defined check_pass_method inside the class
        if self.marks >= 40:
            return True
        else:
            return False
            
student1 = Student() #we created an object 
student1.name = "harry" #attribute added inside object
student1.marks = 85
did_pass = student1.check_pass_fail()
print(did_pass)

student2 = Student() 
student2.name = "janet" 
student2.marks = 30
did_pass = student2.check_pass_fail()
print(did_pass)

INIT METHOD is a special method that automatically gets called everytime objects are created.

In [ ]:
class Student:
    def check_pass_fail(self): 
        if self.marks >= 40:
            return True
        else:
            return False
    
    def __init__(self , name, marks):
        self.name = name
        self.marks = marks
            
student1 = Student("harry", 85) 
print(student1.name) 
print(student1.marks)

In [ ]:
# let add another object
class Student:
    def check_pass_fail(self): 
        if self.marks >= 40:
            return True
        else:
            return False
    
    def __init__(self , name, marks):
        self.name = name
        self.marks = marks
            
student1 = Student("harry", 85) 
student2 = Student("jane", 30)
print(student1.name) 
print(student1.marks)
print(student2.name)
print(student2.marks)

In [ ]:
# let add did_pass
class Student:
    def check_pass_fail(self): 
        if self.marks >= 40:
            return True
        else:
            return False
    
    def __init__(self , name, marks):
        self.name = name
        self.marks = marks
            
student1 = Student("harry", 85) 
student2 = Student("jane", 30)
did_pass = student1.check_pass_fail()
print(did_pass)
did_pass = student2.check_pass_fail()
print(did_pass)

In [ ]:
#class work
class complex:
    def __init__(self, real, imag):
        self.real = real
        self.imag = imag

    def add(self, number):
        real = self.real +  number.real
        imag = self.imag + number.imag
        result = complex(real, imag)
        return result
n1 = complex(5, 6)
n2 = complex(-4, 2)
result = n1.add(n2)
print(f"real =", result.real)
print(f"imag =", result.imag)

THE dir() function

In [ ]:
numbers_lists = [1, 2]
print(dir(numbers_lists))

In [ ]:
numbers_list = [1, 2]
result = numbers_list.__add__([3, 4])
print(result)

In [ ]:
numbers_list = [1, 2]
result = numbers_list + ([3, 4]) #here + operator act totally like __ada__
print(result)

The Id function:
in python, every object has an id for identity. the id of an object is always unique and constant for this object during its lifetime.

In [ ]:
number1 = 5
print(id(number1))

number2 = 10
print(id(number2))

In [ ]:
#lets modify this program
number1 = 5
print(id(number1))
number2 = number1
print(id(number2))

In [ ]:
a = [1, 2, 3]
b = a
a.append(4)
print(f"a = {a}")
print(f"b = {b}")

PYTHON INHERITANCE:
Inheritance allows us to inherit attributes and methods from a parent class to child classes.

In [ ]:
class Animal:
    def eat(self):
        print("i can eat")

class Dog(Animal): #we derived the Dog class from the animal class, so it inherit all the features in animal class
    def bark(self):
        print("I can bark")

dog1 = Dog() #access attribute on both the Dog class and animal class
dog1.bark()
dog1.eat() # dog1 has access to "i can eat" in Animal class

PYTHON MODULE:
A module is a file that contains python code that we can use in our program

REGULAR EXPRESSION

In [ ]:
#0, re module
#1, method to search
#2, methods on a match
#3, meta method
#4, more special sequence
#5, sets
#6, quantifier
#7, conditions
#8, grouping
#9, modification
#10, compilation flaGS

In [ ]:
#Method on a match:
#match(): Determine if the RE matches at the beginning of the string.
#search(): scan through a string, looking for any location where this RE matches.
#findall(): find all substring where the RE matches, and return them as a list.
#finditer(): find all substrngs where the RE matches, and returns them as an iterator.

In [ ]:
# USING FINDITER
import re
string = '123abc456789abc123ABC'
pattern = re.compile(r"abc")
matches = pattern.finditer(string)
for match in matches:
    print(match)

In [ ]:
import re
string = '123abc456789abc123ABC'
matches = re.finditer(r"abc", string)
for match in matches:
    print(match)

In [ ]:
# USING FINDALL METHOD:
import re
string = '123abc456789abc123ABC'
pattern = re.compile(r"abc")
matches = pattern.findall(string)
for match in matches:
    print(match)

In [ ]:
# USING FINDALL METHOD:
import re
string = '123abc456789abc123ABC'
matches = re.findall(r"abc", string)
for match in matches:
    print(match)

In [ ]:
#USING MATCH METHOD:
import re
string = '123abc456789abc123ABC'
pattern = re.compile(r"abc")
match = pattern.match(string)
print(match)
# it print none becos match looks only for python at the beginning for all string.

In [ ]:
#USING MATCH METHOD:
import re
string = '123abc456789abc123ABC'
pattern = re.compile(r"123")
match = pattern.match(string)
print(match)

In [ ]:
#USING SEARCH METHOD:
import re
string = '123abc456789abc123ABC'
pattern = re.compile(r"abc")
match = pattern.search(string)
print(match)

we have four diff methods we can use on match object:
1,Group method. 2,Start. 3,End. 4,span

In [ ]:
#USING SPAN METHOD
import re
string = '123abc456789abc123ABC'
pattern = re.compile(r"abc")
matches = pattern.finditer(string)
for match in matches:
    print(match.span())

In [ ]:
#USING SPAN METHOD
import re
string = '123abc456789abc123ABC'
matches = re.finditer(r"abc", string)
for match in matches:
    print(match.span())

In [ ]:
#USING SPAN, START AND END METHOD;
import re
string = '123abc456789abc123ABC'
pattern = re.compile(r"abc")
matches = pattern.finditer(string)
for match in matches:
    print(match.span(), match.start(), match.end())

In [ ]:
import re
string = '123abc456789abc123ABC'
pattern = re.compile(r"abc")
matches = pattern.finditer(string)
for match in matches:
    print(match.group())

META CHARACTER

ALL META CHARACTER
.,  ^, $,  *,  +,  ?,,  {}, [], \,  (),
1. . - Any character (except newline character)
2. ^ - Start with "^hello"
3. $ - End with "world$"
4. * - Zero or more occurance "aix*"
5. + - One or more occurance "aix+"
6. {} - Exactly the specified number of occurance "al{2}"
7. [] - A set of character "[a-m]"
8. \ - special sequence ( or escape special characters) "\d"
9. | - Either or "falls|stays"
10. () - Capture and group

In [ ]:
#USING . METHOD
import re
string = '123abc456789abc123ABC'
pattern = re.compile(r".")
matches = pattern.finditer(string)
for match in matches:
    print(match.group())

In [ ]:
# USING . METHOD
import re
string = '123abc456789abc123ABC.'
pattern = re.compile(r"\.")
matches = pattern.finditer(string)
for match in matches:
    print(match)

In [ ]:
#USING ^ METHOD
import re
string = '123abc456789abc123ABC'
pattern = re.compile(r"^123")
matches = pattern.finditer(string)
for match in matches:
    print(match)

In [ ]:
import re
string = '123abc456789abc123ABC'
pattern = re.compile(r"ABC$")
matches = pattern.finditer(string)
for match in matches:
    print(match)

In [ ]:
 #About \ - special sequence ( or escape special characters) "\d"

#More special character
#\d: Matches any decimal digit: [0-9]
#\D: matches any non-digit character.
#\s: matches any whitespace character: 
#\S; matches any non- whitespace character:
#\w: matches any alphanumeric (word) character: [a-zA-Z0-9_].
#\W: matches any non-alphanumeric character:
#\b: matches where the specified character are at the beginning or at the end of a word r"\bain" r"ain\b r"ain\B"
#\B: matches where the specified character are present, but not at the beginning (or at the end) of a word r"\Bain" r"ain\B"

In [ ]:
import re
test_string = 'hello 123_ heyho hohey'
pattern = re.compile(r'\d')# \d search the numbers, it search all the digit number.
matches = pattern.finditer(test_string)
for match in matches:
    print(match)

In [ ]:
import re
test_string = 'hello 123_ heyho hohey'
pattern = re.compile(r'\D')# search any non digit character
matches = pattern.finditer(test_string)
for match in matches:
    print(match)

In [ ]:
import re
test_string = 'hello 123_ heyho hohey'
pattern = re.compile(r'\s')# find any wide space character
matches = pattern.finditer(test_string)
for match in matches:
    print(match)

In [ ]:
import re
test_string = 'hello 123_ hey'
pattern = re.compile(r'\S') #search any non-wide space character
matches = pattern.finditer(test_string)
for match in matches:
    print(match)

In [ ]:
import re
test_string = 'hello 123_ hey'
pattern = re.compile(r'\w') #it find all the word characters
matches = pattern.finditer(test_string)
for match in matches:
    print(match)

In [ ]:
import re
test_string = 'hello 123_ heyho hohey'
pattern = re.compile(r'\W') # it will just find the spaces
matches = pattern.finditer(test_string)
for match in matches:
    print(match)

In [ ]:
import re
test_string = 'hello 123_ heyho hohey'
pattern = re.compile(r'\bhello')# it will find it becos it is at the beginning of a block.
matches = pattern.finditer(test_string)
for match in matches:
    print(match)

In [ ]:
import re
test_string = 'hello 123_ heyho hohey'
pattern = re.compile(r'\bhey') #it find the heyho n not hohey bcos \b only find the matches at the beginning.
matches = pattern.finditer(test_string)
for match in matches:
    print(match)

using set []

In [ ]:
import re
test_string = 'hello 123_'
pattern = re.compile(r'[lo]') #if you want to look for lo, it will find all of them
matches = pattern.finditer(test_string)
for match in matches:
    print(match)

In [ ]:
import re
test_string = 'helloHELLO 123_'
pattern = re.compile(r'[a-zA-Z0-9]') #it find the heyho n not hohey bcos \b only find the matches at the beginning.
matches = pattern.finditer(test_string)
for match in matches:
    print(match)

QUANTIFIER

In [ ]:
#QUANTIFIER
#* : 0 OR MORE
#+ : 1 OR MORE
#? : 0 0r 1 -> optional character
#{4} : exact number
#{4,6} : range numbers (min, max)

In [ ]:
#using *
import re
test_string = 'hello_123'
pattern = re.compile(r'\d*')
matches = pattern.finditer(test_string)
for match in matches:
    print(match)

In [ ]:
# using +
import re
test_string = 'hello_123'
pattern = re.compile(r'\d+')
matches = pattern.finditer(test_string)
for match in matches:
    print(match)

In [ ]:
# using _
import re
test_string = 'hello_123'
pattern = re.compile(r'_\d')
matches = pattern.finditer(test_string)
for match in matches:
    print(match)

In [ ]:
#using ?
import re
test_string = 'hello123'
pattern = re.compile(r'_?\d')
matches = pattern.finditer(test_string)
for match in matches:
    print(match)

In [ ]:
#using ?
import re
test_string = 'hello_1_2_3'
pattern = re.compile(r'_?\d')
matches = pattern.finditer(test_string)
for match in matches:
    print(match)

In [ ]:
# using {}
import re
test_string = 'hello 123'
pattern = re.compile(r'\d{4}') # it will print nothing bcos the digit did not reach 4
matches = pattern.finditer(test_string)
for match in matches:
    print(match)

In [ ]:
# using {}
import re
test_string = 'hello 123'
pattern = re.compile(r'\d{3}') # it will print bcos the digit stopped at 3
matches = pattern.finditer(test_string)
for match in matches:
    print(match)

In [ ]:
# using {}
import re
test_string = 'hello 123'
pattern = re.compile(r'\d{1,3}')
matches = pattern.finditer(test_string)
for match in matches:
    print(match)

In [ ]:
import re
date = """ 
01.04.2020
2020.04.01

2020-04-01
2020-05-23
2020-06-11

2020/04/02

2020_04_04
2020_04_04
"""
pattern = re.compile(r"\d\d\d\d.\d\d.\d\d")
matches = pattern.finditer(date)
for match in matches:
    print(match)

In [ ]:
import re
date = """ 
01.04.2020
2020.04.01

2020-04-01
2020-05-23
2020-06-11

2020/04/02

2020_04_04
2020_04_04
"""
pattern = re.compile(r"\d\d\d\d[-]\d\d[-]\d\d") # it will print only the date with -
matches = pattern.finditer(date)
for match in matches:
    print(match)

In [ ]:
import re
date = """ 
01.04.2020
2020.04.01

2020-04-01
2020-05-23
2020-06-11

2020/04/02

2020_04_04
2020_04_04
"""
pattern = re.compile(r"\d\d\d\d[-/]\d\d[-/]\d\d")#it will print those with - and /
matches = pattern.finditer(date)
for match in matches:
    print(match)

In [ ]:
import re
date = """ 
01.04.2020
2020.04.01

2020-04-01
2020-05-23
2020-06-11

2020/04/02

2020_04_04
2020_04_04
"""
pattern = re.compile(r"\d\d\d\d[-/]0[56][-/]\d\d") #to search for a partcular date and here we search 5 and 6.
matches = pattern.finditer(date)
for match in matches:
    print(match)

In [ ]:
import re
date = """ 
01.04.2020
2020.04.01

2020-04-01
2020-05-23
2020-06-11

2020/04/02

2020_04_04
2020_04_04
"""
pattern = re.compile(r"\d{4}[-/]0[4-6][-/]\d{2}") #using quantifier{} to find the range of the days from 4 - 6.
matches = pattern.finditer(date)
for match in matches:
    print(match)

CONDITIONS IN REGEX

In [ ]:
import re
my_string = """
hello world
1223
2020-05-20
Mr Simpsom
Mrs Simpsom
Mr. Brown
Ms Smith
Mr. T
"""
pattern = re.compile(r"Mr\.?\s\w+") #to serach for Mr, we use white space"\s" and alphanumeric "\w"  and 
matches = pattern.finditer(my_string)
for match in matches:
    print(match)

In [ ]:
import re
my_string = """
hello world
1223
2020-05-20
Mr Simpsom
Mrs Simpsom
Mr. Brown
Ms Smith
Mr. T
"""
pattern = re.compile(r"Mr\.\s\w+")
matches = pattern.finditer(my_string)
for match in matches:
    print(match)

In [ ]:
import re
my_string = """
hello world
1223
2020-05-20
Mr Simpsom
Mrs Simpsom
Mr. Brown
Ms Smith
Mr. T
"""
pattern = re.compile(r"(Mr|Mrs|Ms)\.?\s\w+") #using condition character, we put ()which is (Mr|Mrs|Ms)
matches = pattern.finditer(my_string)
for match in matches:
    print(match)

In [ ]:
import re
my_string = """
hello world
1223
2020-05-20
Mr Simpsom
Mrs Simpsom
Mr. Brown
Ms Smith
Mr. T
pythonengineer@gmail.com
python-engineer@gmax.de
python-engineer123@my-domain.org
"""
pattern = re.compile(r"[a-zA-Z0-9-]+@[a-zA-Z-]+\.[a-zA-Z]+")
matches = pattern.finditer(my_string)
for match in matches:
    print(match)

GROUPING

In [ ]:
import re
my_string = """
hello world
1223
2020-05-20
Mr Simpsom
Mrs Simpsom
Mr. Brown
Ms Smith
Mr. T
pythonengineer@gmail.com
python-engineer@gmax.de
python-engineer123@my-domain.org
"""
pattern = re.compile(r"([a-zA-Z0-9-]+)@([a-zA-Z-]+)\.([a-zA-Z]+)")
matches = pattern.finditer(my_string)
for match in matches:
    print(match.group(1)) #using group method

MODIFICATIONS

To modify a string we use the SPLIT METHOD and THE SUB METHOD.

In [ ]:
#To modify a string we use the SPLIT METHOD and THE SUB METHOD.
#SPLIT METHOD
import re
value = 'abc123ABCDEF123abc'
pattern = re.compile(r"123")
match = pattern.split(value)
print(match)

In [ ]:
#To modify a string we use the SPLIT METHOD and THE SUB METHOD.
#SPLIT METHOD
import re
value = '123abc456789abc123ABC'
pattern = re.compile(r"abc")
match = pattern.split(value)
print(match)

In [ ]:
#SUB METHOD
# to replace a string with another string
import re
value = 'hello world, you are the best world'
pattern = re.compile(r"world")
match = pattern.sub("planet", value)
print(match)

(OOP) IN PYTHON
OBJECT ORIENTED PROGRAMMING

In [ ]:
class Student:
    def check_pass_fail(self):
        if self.marks >- 40:

In [ ]:
class person:
    def __init__(self, fname, lname):
        self.fname = fname
        self.lname = lname

    def printname(self):
        return(self.fname, self.lname)

class student(person):
    def __init__(self, fname, lname, graduationyear):
         person.__init__(self, fname, lname) 
         self.graduationyear = graduationyear

    def get_graduationyear(self):
        return self.graduationyear 

    def welcome(self):
        return f" yes! congratulations {self.fname} {self.lname} you will be graduating on {self.graduationyear}"  

obj = student("Chidimma", "Asuzu", 2006)
obj.fname

In [ ]:
class person:
    def __init__(self, fname, lname):
        self.fname = fname
        self.lname = lname

    def printname(self):
        return(self.fname, self.lname)

class student(person):
    def __init__(self, fname, lname, graduationyear):
         self.graduationyear = graduationyear
         person.__init__(self, fname, lname) 
        

    #def welcome(self):
       # return f" yes! congratulations {self.fname} {self.lname} you will be graduating on {self.graduationyear}"  

obj = student("Chidimma", "Asuzu", 2006)
obj.fname

In [ ]:
class employee:

    company_adrress = "44 hakeem dosumu"
    company_name = "whitefield, lagos"

    def __init__(self, name, emp_id, salary):
        self.name = name
        self.emp_id = emp_id
        self.salary = salary

    def change_company_address(self,new_address, new_company_name):
        self.new_address = new_address
        self.new_company_name = new_company_name

    def display(self):
        

emp = employee("Femi", "1234", "2400")
employee.company_adrress
emp.change_company_address("park view estate", "insurance company")
emp.new_address
emp.new_company_name

In [ ]:
#multi_level inheritance
class person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    def display1(self):
        return f" her name and her age are {self.name} and {self.age}"

class employee(person):
    def __init__(self, name, age, id, salary):
        person.__init__(self, name, age)
        self.id = id
        self.salary = salary
    def display2(self):
        return f"wow name, age, id, salary are {self.age}, {self.name}, {self.id}, {self.salary}"

class manager(employee):
    def __init__(self, name, age, id, salary, team_size, project_name):
        employee.__init__(self, name, age, id, salary)
        self.team_size = team_size
        self.project_name = project_name
    def display(self):
        return f"all her details are {self.age}, {self.team_size}, {self.project_name}, {self.salary}"

m1 = manager("chioma", 12, 1234, 2500, "size 45", "Python Programming")
m1.display1()

PROJECT TOPIC

In [ ]:
#HOW TO DO VALIDATION.
#1. A SYSTEM FOR ELECTRONIC VOTING SYSTEM FOR FORTH COMING ELECTION.
#BUILD A SYSTEM TO TAKE CUSTOMER ORDER IN MALL AND RETURN THE RECEIPT AFTER A SUCCESSFUL TRANSACTION.

In [ ]:
import re
string = "Once you have accomplished small things, you may attempt great ones safety."
work = re.findall(r"\ba[\w]*",string)
print(work)

write a program to stimulate the operator of the grep command in Unix. Ask the user to enter a regular expression and count the number of lines that matched the rugular expression.

In [ ]:
import re 
hand = open("message.txt")
search = input("enter a regular expression")
count = 0
for line in hand:
    line = line.rstrip()
    if re.search(search,line):
      count = count + 1
print("message.txt had" +  str (count) +" lines that matched "+search)

PYTHON FILE OPEN

In [ ]:
f = open("message.txt", "r")
print(f.read())

In [ ]:
#read only parts of the file
f = open("message.txt", "r")
print(f.read(9))

In [ ]:
#Readlines 
#you can can return one line by using the readline
f = open("message.txt", "r")
print(f.readline())
print(f.readline())

In [ ]:
#close files
f = open("message.txt", "r")
print(f.readline())
f.close()

WRITE TO AN EXISTING FILE

In [ ]:
#To write to an existing file, you must add a parameter to the open() function.
# a = Append- will append to the end of the file.
# w = Write - will overwrite any existing content.
f = open("demo.txt", "a")
f.write("God is good")
f.close()


f = open("demo.txt", "r")
print(f.read())

In [ ]:
#To create a new file 
f = open("myfile.txt", "x")

In [ ]:
# To delete file, you import the OS module, and run its os.remove() function.
import os
os.remove("myfile.txt")

In [ ]:
import requests
from pprint import pprint
base_url = 'https://fakestoreapi.com'
endpoints = {
    'products': '/products',
    'categories': '/products/categories'
}

def get_products():
    url = base_url + endpoints['products']
    return requests.get(url =url).json()[:6]

def get_categories():
    url = base_url + endpoints['categories']
    return requests.get(url=url).json()

#if __name__ == '__main__':
   # get_categories()
pprint(get_categories())
pprint(get_products())

DATABASE

In [ ]:
import sqlite3

#to connect a data base
con = sqlite3.connect("clothings.db")

#set up a cursor n connect to it to execute commands in the database
#we make a column the primary key so the value of the column cannot be added multiple times if you
#add ignore query to the next column because ther is already a primary key so sq

cur = con.cursor()
cur.execute('''CREATE TABLE IF NOT EXISTS tshirt
             (sku text PRIMARY KEY, name text, size text, price real)''')

cur.execute('''INSERT OR IGNORE INTO tshirt VALUES
             ('SKU123568', 'white logo tshirt', 'small', '510.10')''')
con.commit()

# to display the data in your terminal use loops;
#for row in cur.execute('''SELECT * FROM tshirt'''):
   # print(row)

In [1]:
import sqlite3

ben = sqlite3.connect('lunch.db')
cur = ben.cursor()


cur.execute('''CREATE TABLE IF NOT EXISTS meal(sandwich  TEXT PRIMARY KEY, fruit TEXT, tablenumber INTEGER)''')

sandwich = 'benice'
fruit = 'grape'
tablenumber = 40

#cur.execute('''INSERT INTO meal VALUES(?,?,?)''', (sandwich,fruit,tablenumber))

ben.commit()
cur.execute('''SELECT * From meal LIMIT 2''') #to select two n print only the two. 

#cur.execute('''SELECT * FROM meal''')

#cur.execute("SELECT sandwich, fruit  FROM meal WHERE fruit = 'mango'")
results = cur.fetchall()
print(results)

[('turkey', 'mango', 30), ('ghost', 'banana', 50)]

In [ ]:
import sqlite3

ben = sqlite3.connect('lunchs.db')
cur = ben.cursor()


cur.execute('''CREATE TABLE IF NOT EXISTS meal(sandwich  TEXT PRIMARY KEY, fruit TEXT, tablenumber INTEGER)''')


data = [
    ('ham', 'mango', 1), 
    ('yam', 'mango', 1),
    ('bread', 'mango', 1),
    ('seed', 'mango', 1),
    ('pear', 'mango', 1),
    ('run', 'mango', 1),
    ('cold', 'mango', 1),
    ('book', 'mango', 1),
    ('bold', 'mango', 1),
    ('queen', 'mango', 1),
    ('look', 'mango', 1),
    ('sand', 'mango', 1),
    ('bam', 'mango', 1)
]
cur.executemany('''INSERT INTO meal
              #VALUES(?,?,?)''',data) 
ben.commit()

In [ ]:
import sqlite3
conn = sqlite3.connect('musicSs.db')
cur = conn.cursor()
num = 4
name = " capote"

cur.execute("CREATE TABLE IF NOT EXISTS writers(id INTEGER PRIMARY KEY, name VARCHAR(25))")
# cur.execute('''INSERT INTO writers VALUES (?,?)''', (num, name))
cur.execute('''UPDATE writers SET name = 'BENICE' WHERE id = 4''')

conn.commit()
cur.fetchall()